<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Animal Type</th>
        <th>Balance</th>
        <th>King</th>
    </tr>

    <tr th:each="account: ${lionKing}" th:class="${account}">
            <td th:text="${accountStat.index}"></td>
            <td th:text="${account.name}"></td>
            <td th:text="${account.animalType}" th:style= "${account.animalType} ? 'lionKing' "><td th:text="${account.animalType}"</td>
            <td th:text="${account.balance} + '$'"></td>
    </tr>

</table>
</body>
</html>