label {
    font-family: "Droid Sans Mono"; 
    font-size: 15px; 
    display: flex;
    text-align: center;
}
h1{
    font-family: "Droid Sans Mono";
}
.box {
    text-align: center;
}
button{
    border-radius: 50%;
    font-size: 20px;
}